# Operaciones Matematicas basicas

#### Puede cambiar los nombres de las variables

## Operadores Aritméticos

In [67]:
# Operacion de suma

suma<- 10 + 5
suma

[1] 15

In [6]:
# Operacion de resta

resta<- 10 - 5
resta

[1] 5

In [7]:
# Operacion de multiplicacion

multipliacion<- 10 * 5
multipliacion

[1] 50

In [12]:
# Operacion de division

division<- 10 / 3
division

[1] 3.333333

In [14]:
# Operacion de division entera

divisionEnt<- 10 %/% 3
divisionEnt

[1] 3

In [11]:
# Operacion de potencia

potencia<- 5 ^ 3
potencia

[1] 125

In [18]:
# Operacion de residuo

residuo<- 5 %% 3
residuo

[1] 2

## Operadores Lógicos

In [27]:
# Operacion de negacion

vector <- c(TRUE,FALSE)
!vector

# Invierte nuestros valores

[1] FALSE  TRUE

In [68]:
# Operacion OR   |

vector1 <- c(TRUE,FALSE)
vector2 <- c(TRUE,TRUE)
vector1 | vector2


vector1 <- c(TRUE,FALSE)
vector2 <- c(TRUE,FALSE)
vector1 | vector2

vector1 <- c(TRUE,FALSE)
vector2 <- c(FALSE,FALSE)
vector1 | vector2

vector1 <- c(FALSE,FALSE)
vector2 <- c(FALSE,FALSE)
vector1 | vector2

[1] TRUE TRUE

[1]  TRUE FALSE

[1]  TRUE FALSE

[1] FALSE FALSE

In [39]:
# Operacion AND  &

vector1 <- c(TRUE,TRUE)
vector2 <- c(TRUE,TRUE)
vector1 & vector2


vector1 <- c(TRUE,FALSE)
vector2 <- c(TRUE,FALSE)
vector1 & vector2

vector1 <- c(TRUE,FALSE)
vector2 <- c(FALSE,FALSE)
vector1 & vector2

vector1 <- c(FALSE,FALSE)
vector2 <- c(FALSE,FALSE)
vector1 & vector2

[1] TRUE TRUE

[1]  TRUE FALSE

[1] FALSE FALSE

[1] FALSE FALSE

In [40]:
# Operacion XOR o OR Exclusivo xor(vectorx,vectory)

vector1 <- c(TRUE,FALSE)
vector2 <- c(TRUE,TRUE)
xor(vector1, vector2)


vector1 <- c(TRUE,FALSE)
vector2 <- c(TRUE,FALSE)
xor(vector1, vector2)

vector1 <- c(TRUE,FALSE)
vector2 <- c(FALSE,FALSE)
xor(vector1, vector2)

vector1 <- c(FALSE,FALSE)
vector2 <- c(FALSE,FALSE)
xor(vector1, vector2)

[1] FALSE  TRUE

[1] FALSE FALSE

[1]  TRUE FALSE

[1] FALSE FALSE

## Operadores de Comparación

In [53]:
# Operacion de Mayor   >

10 > 5

5 > 10


10 > 10

[1] TRUE

[1] FALSE

[1] FALSE

In [54]:
# Operacion de Menor   <

10 < 5


5 < 10

10 < 10

[1] FALSE

[1] TRUE

[1] FALSE

In [51]:
# Operacion de Diferencia o Distinto      !=

# Se declara una variable numero
numero<-5

# numero es diferente de 6
numero!=6

# numero es diferente de 5
numero!=5

[1] TRUE

[1] FALSE

In [55]:
# Operacion de Menor o igual   <=

10 <= 10


5 <= 10

10 <= 10

[1] TRUE

[1] TRUE

[1] TRUE

In [56]:
# Operacion de Mayor o igual   >=

10 >= 10


5 >= 10

10 >= 10

[1] TRUE

[1] FALSE

[1] TRUE

In [57]:
# Operacion Igualdad   ==

10 == 10

10 == 5

[1] TRUE

[1] FALSE

## Funciones Matemáticas

#### Funciones de Signo

In [60]:
# Para obtener el valor absoluto lo podemos hacer con abs(parametro) 

abs(-10)

[1] 10

In [66]:
# Para obtener el signo lo podemos hacer con sign(parametro) 

# Nos devuelve el signo como -1 para negativo y 1 para positivo
sign(-10)


sign(5)


# Para 0 como es neutro nos devolvera su propio valor
sign(0)

# tambien lo podemos utilizar por medio de operaciones

sign(10+5-15)

[1] -1

[1] 1

[1] 0

[1] 0

In [69]:
# Para sacar la raiz los podemos hacer con la formula de sqrt(parametro)

sqrt(25)

[1] 5

#### Funciones de Trigonométricas.

In [76]:
# la palabra pi ya viene definida con 3.14159265358979
pi

[1] 3.141593

In [80]:
# Coseno    cos(angulo)

cos(0)

cos(180)

[1] 1

[1] -0.5984601

In [79]:
# Seno    sin(angulo)

sin(pi/2)

sin(90)

[1] 1

[1] 0.8939967

In [83]:
# Tangente    tan(angulo)

tan(0)

tan(90)

[1] 0

[1] -1.9952

In [90]:
 # Arcocoseno    acos(angulo)

acos(0)

acos(0.2)

[1] 1.570796

[1] 1.369438

In [91]:
 # Arcoseno    asin(angulo)

asin(0)

asin(0.2)

[1] 0

[1] 0.2013579

In [92]:
 # Arcotangente   atan(angulo)

atan(0)

atan(0.6)

[1] 0

[1] 0.5404195

In [94]:
# Podemos colocar estas funciones dentr de otras

atan(asin(0))

[1] 0

#### Funciones Hiperbólicas

In [95]:
# Coseno hiperbólico   cosh(angulo)

cosh(0)

cosh(0.6)

# Arcocoseno hiperbólico acosh(parametro)

acosh(0)

acosh(0.6)

[1] 1

[1] 1.185465

In [98]:
# Seno hiperbólico   sinh(angulo)

sinh(0)

sinh(0.6)

# Arcoseno hiperbólico asinh(parametro)

asinh(0)

asinh(0.6)

[1] 0

[1] 0.6366536

[1] 0

[1] 0.5688249

In [99]:
# Tangente hiperbólico   tanh(angulo)

tanh(0)

tanh(0.6) 

# Arcotangente hiperbólico atanh(parametro)

atanh(0)

atanh(0.6)

[1] 0

[1] 0.5370496

[1] 0

[1] 0.6931472

#### Funciones Exponenciales y Logarítmicas

In [102]:
# Logaritmo de a de base exponente 1

log(10, base=exp(1))

[1] 2.302585

In [106]:
# Logaritmo de a de base 10

log10(10)

[1] 1

In [107]:
# Logaritmo de a de base 2

log2(10)

[1] 3.321928

In [109]:
# Función exponencial

exp(10)

[1] 22026.47

#### Funciones de Redondeo

In [110]:
# Devuelve el mayor entero 

ceiling(29.5)

[1] 30

In [113]:
# Devuelve el menor entero 

floor(29.5)

[1] 29

In [119]:
# Devuelve entero más cercano

trunc(29.5)

trunc(29.9)

trunc(-29.9)

[1] 29

[1] 29

[1] -29

In [5]:
# Crear numeros entre un rango inferior "10" y uno superior "80"
x<-10:80
x

 [1] 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34
[26] 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59
[51] 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80

In [12]:
# Tambien podemos hacer secuencias
seq(20,50)

 [1] 20 21 22 23 24 25 26 27 28 29 30 31
[13] 32 33 34 35 36 37 38 39 40 41 42 43
[25] 44 45 46 47 48 49 50

In [13]:
# Lo podemos hacer al revés
seq(50,20)

 [1] 50 49 48 47 46 45 44 43 42 41 40 39
[13] 38 37 36 35 34 33 32 31 30 29 28 27
[25] 26 25 24 23 22 21 20

In [21]:
# Para tomarlo por intervalos de 5
seq(50,20, by=-5)

[1] 50 45 40 35 30 25 20

In [22]:
# Si solo queremos obtener un cierto numero de datos
seq(20,50, length=4)

[1] 20 30 40 50

In [27]:
# Para replicar un dato n cantidad de veces     rep(num,n)
rep(10,5)

[1] 10 10 10 10 10

In [31]:
rep(seq(10,20,by=2),2)

 [1] 10 12 14 16 18 20 10 12 14 16 18 20

In [36]:
x<-1:5
x

# la funcion rev para cambiar el orden de como entraron los datos

rev(x)

# La funcion sort para organizar de menor a mayor

sort(rev(x))

[1] 1 2 3 4 5

[1] 5 4 3 2 1

[1] 1 2 3 4 5

In [37]:
# con numeros descendentes

x<-5:1
x

# la funcion rev para cambiar el orden de como entraron los datos

rev(x)

# La funcion sort para organizar de menor a mayor

sort(rev(x))

[1] 5 4 3 2 1

[1] 1 2 3 4 5

[1] 1 2 3 4 5