# Crear nuestros propios metodos

In [4]:
# Vamos a crear una funcion para elevar a la 2
elevar2 <- function(x) {
  return(x^2)
}

elevar2(2)

elevar2(23)

[1] 4

[1] 529

In [5]:
valorabs <- function(x) {
 # valor absoluto de x
 if(x<0){ 
    -x # multiplicamos por -1 la funcion
 }else{
     x # dejamos el numero tal como llego por que es mayor o igual a 0
 }
}

valorabs(-5)

valorabs(5)

[1] 5

[1] 5

In [7]:
mayor18 <- function(x) {
 # funcion para saber si una persona es mayor de edad
 if(x>=18){ 
    TRUE 
 }else{
     FALSE 
 }
}

mayor18(20)

mayor18(15)

[1] TRUE

[1] FALSE

In [3]:
potencia <- function(x, y) {
    
 # función que calcula x elevado a y
 result <- x^y
    
 # Cuando queremos que el resultado de una función contenga texto podemos utilizar las función paste()
 paste(x,"elevado a la ", y, "es", result)
}


potencia(3,4)

[1] "3 elevado a la  4 es 81"

In [13]:
# La Tasa de Metabolismo Basal (TMB), es la cantidad mínima de energía que necesita 
# tu cuerpo para funcionar. Nunca debemos ingerir menos cantidad de calorías de las que marca la tasa metabólica. 
# La TMB se calcula siguiendo las siguientes ecuaciones


# Formula


# TMB Mujer = 655 + (9,6 * P) + (1,8 * A) – (4,7 * E)
# TMB Hombre = 66 + (13,7 * P) + (5 * A) – (6,8 * E)


TMB<-function(Sexo,Altura,Peso,Edad){
    if(Sexo=="mujer"){ 
        655 + (9.6 * Peso) + (1.8 * Altura) - (4.7 * Edad)
    }else{ 
        66 + (13.7 * Peso) + (5 * Altura) - (6.8 * Edad) 
    }
}

TMB("hombre",190,73,25)
TMB("mujer",190,73,25)

[1] 1846.1

[1] 1580.3

In [18]:
# Formula para sacar la hipotenusa
hipotenusa<-function(cateto1, cateto2){
    sqrt(cateto1^2+cateto2^2)
}

hipotenusa(10,8)

[1] 12.80625

In [19]:
# Complementando 

hipotenusa<-function(cateto1, cateto2){
    h<-sqrt(cateto1^2+cateto2^2)
    # Las listas permiten agrupar o contener cosas como dataframes, matrices y vectores en una misma variable.
    list(cateto1=cateto1,cateto2=cateto2,hipotenusa=h)
}

hipotenusa(10,8)

$cateto1
[1] 10

$cateto2
[1] 8

$hipotenusa
[1] 12.80625

In [20]:
#Podemos mandar un rango de valores para los catetos

hipotenusa(10:12,8:10)

$cateto1
[1] 10 11 12

$cateto2
[1]  8  9 10

$hipotenusa
[1] 12.80625 14.21267 15.62050

In [22]:
# Podemos organizarlo de una forma mas visual con los data.frame

hipotenusa<-function(cateto1, cateto2){
    h<-sqrt(cateto1^2+cateto2^2)
    data.frame(cateto1=cateto1,cateto2=cateto2,hipotenusa=h)
}

hipotenusa(10:12,8:10)

  cateto1 cateto2 hipotenusa
1 10       8      12.80625
2 11       9      14.21267
3 12      10      15.62050

In [30]:
# Para validarsi es un caacter o un numero lo podemos hacer con is.character(parametro)
validarCaracter<-function(caracter){
    if(is.character(caracter)){
        TRUE
    }else{
        FALSE
    }
}

validarCaracter("hola")

validarCaracter(2)

# al colocar las "" en ("parametro") lo convertimos en cadena

validarCaracter("2")

# Para la funcion TRUE o FALSE como es un dato boolean lo permite

# Si ingresamos una cadena sin las "" nos generara un error
validarCaracter(TRUE)

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE

In [22]:
# función cat()
x<-20
# nos sirve es para concatenar texto
cat("La UPTC tiene", x, "carreras", ".")

x
#\b quita el último espacio

cat("La UPTC tiene", x, "carreras", "\b.")

x
#\n salta la linea

cat("La UPTC tiene\n", x, "carreras", "\b.")

La UPTC tiene 20 carreras .

[1] 20

La UPTC tiene 20 carreras .

[1] 20

La UPTC tiene
 20 carreras .

In [38]:
# Determinar cual es el mayor y el menor
# num 1 es un acronimo de numero 1
mayor<-function(num1,num2){
    if(num1>num2){
        cat("El numero",num1,"es mayor que",num2) 
    }else if(num1==num2){
        cat("El numero",num1,"es igual que",num2) 
    }else{
        cat("El numero",num2,"es mayor que",num1) 

    }
    
}
# x es para definir un salto de linea y ver mejor los datos

x<-"----"

mayor(5,2)

x

mayor(5,5)

x

mayor(5,10)

El numero 5 es mayor que 2

[1] "----"

El numero 5 es igual que 5

[1] "----"

El numero 10 es mayor que 5

In [46]:
# para una fibonacci

fibonacci <- function(n) {  
  if (n == 1) {    
    0
  }
  else if(n == 2) {
    1
  }
  else if(n > 2) {
    fibonacci(n - 1) + fibonacci(n - 2)
  }
  
}
    
# x es para definir un salto de linea y ver mejor los datos
x<-"---"  

# serie de fibonacci  
# 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377
    
fibonacci(1)

x

fibonacci(5)

x
    
fibonacci(10)

[1] 0

[1] "---"

[1] 3

[1] "---"

[1] 34