# Lectura de datos

In [2]:
datos <- read.table(file = 'read.txt', sep = '\t')

datos

Warning message in read.table(file = "read.txt", sep = "\t"):
"incomplete final line found by readTableHeader on 'read.txt'"

  V1
1 Curso de estadistica basica en R
2 Curso de estadistica basica en R 2
3 Curso de estadistica basica en R 3

In [3]:
excel <- read.table(file = 'datos.csv', sep = ";")

excel

  V1 V2
1 x  y
2 2  3
3 3  4
4 4  4
5 5  3
6 6  4
7 7  3
8 8  2
9 9  8

In [15]:
# Para tener la columna 2
excel[,2]

[1] y 3 4 4 3 4 3 2 8
Levels: 2 3 4 8 y

### Para leer un RData

In [17]:
load("datos_exportados.RData")

In [19]:
# "datos" es una variable que se creo y que se guardo en el archivo "datos_exportados.RData"
datos

 [1] 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34
[26] 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50