In [8]:
# Para tener un rango de numeros lo podemos hacer asi

rango <- 1:5
# Print se usa para imprimir o mostrar un resultado
cadena <- "Ejemplo rango sin print()"
cadena
rango
print(cadena)
print(rango)

[1] "Ejemplo rango sin print()"

[1] 1 2 3 4 5

[1] "Ejemplo rango sin print()"
[1] 1 2 3 4 5

In [9]:
# Para tener un rango de numeros entre 2 numeros lo podemos hacer asi

rango <- 5:22
rango

 [1]  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22

### Para crear vectores R cuenta con la función c(). Un uso común es especificar directamente los valores que se quiere, como vamos a mostrar a continuación:

In [12]:
x <- c(1,2,3)
x

[1] 1 2 3

In [15]:
x <- vector(length=4)
x

[1] FALSE FALSE FALSE FALSE

In [19]:
x <- vector("numeric",length=4)
x

[1] 0 0 0 0

## Para obtener una posicion de un arreglo

lo hacemos asi:

In [23]:
x <- c(1,2,3)
x[2]

[1] 2

In [24]:
x <- c(32,22,83)
x[2]

[1] 22

## Para crea una matriz

In [47]:
mat1 <- matrix(15:24, nrow=5,ncol=2)
mat1

mat2 <- matrix(15:24, nrow=2,ncol=5)
mat2

     [,1] [,2]
[1,] 15   20
[2,] 16   21
[3,] 17   22
[4,] 18   23
[5,] 19   24

     [,1] [,2] [,3] [,4] [,5]
[1,] 15   17   19   21   23
[2,] 16   18   20   22   24